#contener{
	display: grid;
	grid-template-rows: 4em minmax(calc(100vh - 8em), auto) 4em;
}

.m_kontakt{
	min-height: 100%;
	grid-column: 1/ span 4;
	grid-row: 2/span 1;
	display: flex;
	min-width: 100%;
	justify-content: center;
	text-align: center;
	
	padding-top: 20px;
	font-size: 30px;
}
.m_kontakt h3{
	background-color: rgba(0,0,0,0.5);
}


.m_kontakt ul{
	list-style: none;
	width: 100%;
	margin: auto;
}
.m_kontakt textarea{
	resize: none;
}


.m_kontakt ul li{
	margin-top: 20px
	
}
.m_kontakt input{
	text-align: center;
}
.m_kontakt ul li:last-of-type{
	margin-bottom: 20px
}


#tresc{
	width: 100%;
	height: 200px;
	font-size: 25px;
}



#wiadomosc{
	grid-column: 1/ span 4;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
}

#wiadomosc div p{
	margin-top: 20px;
}
#wiadomosc a{
	color: green;

}

footer{
	grid-column: 1/ span 4;
	grid-row: 3/span 1;
}

.rejestracja{
	grid-row: 2/span 1;
	font-size: 20px;
}
.rejestracja input, .rejestracja li{
	text-align: left;
}


 .input_k {
	background: none;
	display: block;
	padding: 10px 10px 10px 5px;
	height: 40px;
	font-size: 20px;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid black;
	transition: 300ms ease all;
}

.input_k:focus {
	outline: none;	
}

.error_{
	color: rgb(235, 52, 20);
	font-size: 1rem;
	text-align: center;	

}


	
	

.wyslij_rej, .g_send{
	color: white;
	padding: 0.3rem 0.5rem;
	font-size: 1.5rem;
	background: rgb(52, 152, 219);
 	border-radius: 5px;
 	height: 40px;
}
@media screen and (min-width: 650px){



.input_k{
	width: 31rem;
	
}

.m_kontakt ul{
	width: 31rem;
}

.input_k:focus {
	font-size: 25px;	
}


.input_k:focus ~.reg_bar::before{
	width: 31rem;
}

.reg_bar {
	position: relative;
	display: block;
	margin-bottom: 2rem;
}

.reg_bar:before {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0px;
	position: absolute;
	background: rgb(52, 152, 219);
	transition: 500ms ease all;
	left: 0%;
	}


}